// Partials
@import "partials/normalize";

$dark-blue: #061c27;
$fade: #1f5671;
$light-blue: #F1FAFB;
$white: #FFF;
$black: #000;
$dark-gray: #555;

$dark-green: #25744d;
$light-green: #8bdab3;
$hover-green: #184e33;

$dark-red: #b30000;
$light-red: #ff9999;
$hover-red: #800000;

body {
    background-color: $dark-blue;
}

.card {
    padding: 1em;
    cursor: pointer;
    background: orange;
}

.game-name {
    color: $light-blue;
    font-size: 3em;
    padding-bottom: 0;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
    &.mark-as {
        justify-content: flex-start;
        padding-left: 0;
        li {
            &:first-child {
                margin-right: 0.5em;
            }
            &:last-child {
                margin-left: 0.5em;
            }
        }
    }
    
    li {
        display: inline;
        margin: 0 1em;
        &:first-child, &:last-child {
            margin: 0;
        }

        &.status {
            padding: 0.9em;
        }
        a {
            text-align: center;
            width: 5em;
            color: $black;
            background: $white;
            padding: 0.9em;
            text-decoration: none;
            display: inline-block;
        }

        .right {
            color: $light-green;
            background-color: $dark-green;
            &:hover, &:active {
                color: $white;
                background-color: $hover-green;
            }
        }

        .wrong {
            color: $light-red;
            background-color: $dark-red;
            &:hover, &:active {
                color: $white;
                background-color: $hover-red;
            }
        }
    }
}



.select-deck {
    p, a {
        font-size: 1.5em;
    }

    p {
        padding: 0 2em;
        color: $white;
        margin-top: 0;
    }
    
    ul {
        display: flex;
        flex-direction: column;

        li {
            margin: 2em 0 1em 0;
            a {
                width: 6em;
                color: $fade;
                font-weight: bold;
                margin-left: 0.4em;
                padding: 0.5em;

                &:hover {
                    color: $white;
                    background: orange;
                }
            }
        }
    }
}

// Styles
h1 {
    font-size: 2em;
    color: $fade;
}

.exit {
    display: block;
    font-size: 1.2em;
    padding: 0 0.7em;
    margin: 1em;
    color: $fade;
    text-decoration: none;
    &:hover {
        color: $white;
    }
}

h1, dt, dd { padding: 1em; }

h1 {
    padding-bottom: 0;
}
dt {
    text-align: center;
}
// definition list reset
dt, dd {
    font-size: 3em;
    margin-left: 0;
}

dt {
    font-weight: bold;
}

dd {
    color: $dark-gray;
}

.card {
    .term, .definition {
        background: $light-blue;
    }
}