// Partials
@import "partials/normalize";

$dark-blue: #061c27;
$fade: #1f5671;
$light-blue: #F1FAFB;
$white: #FFF;
$black: #000;

$dark-green: #25744d;
$light-green: #8bdab3;
$hover-green: #184e33;

$dark-red: #b30000;
$light-red: #ff9999;
$hover-red: #800000;

body {
    background-color: $dark-blue;
}

.container {
    perspective: 1000px;
}

.card {
    padding: 1em;
    cursor: pointer;
    background: orange;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    &.mark-as {
        justify-content: flex-start;
        padding-left: 0;
        li {
            &:first-child {
                margin-right: 0.5em;
            }
            &:last-child {
                margin-left: 0.5em;
            }
        }
    }
    li {
        display: inline;
        margin: 0 1em;
        &:first-child, &:last-child {
            margin: 0;
        }
        a {
            color: $black;
            background: $white;
            padding: 0.3em 0.9em;
            text-decoration: none;
        }

        .right {
            color: $light-green;
            background-color: $dark-green;
            &:hover, &:active {
                color: $white;
                background-color: $hover-green;
            }
        }

        .wrong {
            color: $light-red;
            background-color: $dark-red;
            &:hover, &:active {
                color: $white;
                background-color: $hover-red;
            }
        }
    }
}
// Styles
h1 {
    font-size: 2em;
    color: $fade;
}

h1, dt, dd { padding: 1em; }

dt {
    text-align: center;
}
// definition list reset
dt, dd {
    font-size: 3em;
    margin-left: 0;
}

.card {
    .term, .definition {
        background: $light-blue;
    }
}