// Partials
@import "partials/normalize";

$dark-blue: #061c27;
$fade: #1f5671;
$light-blue: #F1FAFB;

body {
    background-color: $dark-blue;
}

.container {
    perspective: 1000px;
}

// definition list reset
dl dd {
    margin-left: 0;
}

dl {
    width: 100%;
}

.card {
    padding: 1em;
    cursor: pointer;
    background: orange;
}

// Styles
h1 {
    font-size: 1em;
    color: $fade;
}

.card .term, .card .definition {
    background: $light-blue;
}